@page
@model Presentation_Layer_Web_App.Pages.Screens.GameOverModel
@{
}

<div class="main-container">

                

                <div class="game-result">
                    <h1>
                        You Won The Party !
                    </h1>
                </div>
                
                <div id="xo-matrix">
                    
                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>
                    
                </div>

                <div class="profile-card">
                    <img src="assets/icons/user-icon.png" alt="" class="profile-ixon">
        
                    <a href="" class="user-name">@user-name</a>
                </div>
                
</div>

