@page
@model Presentation_Layer_Web_App.Pages.Screens.HomeModel
@{
}

<div class="main-container">
                 <div id="xo-matrix">
                    
                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>
                    
                </div>

                <div class="profile-card">
                    <img src="assets/icons/user-icon.png" alt="" class="profile-ixon">
        
                    <a href="" class="user-name">@openant-name</a>
                </div>
                
</div>
