<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation_Layer_Web_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation_Layer_Web_App.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
            <div id="header-container">
                <div id="LOGO">
                    <h3>LOGO</h3>
                </div>

                <nav class="h-container" id="profile">
                    <img src="assets\icons\user-icon.png" alt="" class="icon" id="profie-header">
                    <a href="" id="user-name">@user-name</a>
                </nav>

            </div>
    </header>

    @RenderBody()
</body>
</html>