@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container">

                <div class="v-container" id="intro">
                    <h1>XO Online Game</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </p>
                    <div class="h-container">

                    <form>
                        <button asp-page="Screens/Home">Get Started</button>
                    </form>
                        
                    </div>

                </div>

                
                
                <div id="xo-matrix">
                    
                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>

                    <div class="cell h-container">

                    </div>
                    
                </div>
</div>
